# print_head "Configure NodeJS Repo"
# curl -sL https://rpm.nodesource.com/setup_lts.x | bash &>>${log_file}
# status_check $?
# print_head "Install NodeJS"
# yum install nodejs -y &>>${log_file}
# status_check $?
# app_prereq_setup
# print_head "Installing NodeJS Dependencies"
# npm install &>>${log_file}
# status_check $?
# schema_setup
# systemd_setup

- name: Configure NodeJS Repo
  ansible.builtin.shell: curl -sL https://rpm.nodesource.com/setup_lts.x | bash

- name: Install NodeJS
  ansible.builtin.yum:
    name: nodejs
    state: installed


